*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
body{
	background-color: #fafafa;
}
#home{
	display: flex;
}
aside p, aside span{
	font-family: 'Abril Fatface', cursive;
	font-size: 26px;
}
.hamburger{
	display: none;
}
.ham1, .ham2, .ham3{
	display: block;
	height: 3px;
	background-color: #ff4e4e;
	margin-top: 5px;
	border-radius: 25px;
}
.ham1{
	width: 16px;
	margin-top: 0;
}
.ham2{
	width: 22px;
}
.ham3{
	width: 19px;
}
aside{
	padding: 3rem;
}
aside .cart-icon{
	color: #ff4e4e;
	font-size: 1.8rem;
	transform: rotateY(180deg);
	display: none;
}
.menu li{
	list-style: none;
	margin: 2rem 0;
}
.menu li a{
	text-decoration: none;
	color: grey;
	font-size: 14px;
}
.button{
	font-size: 14px;
	text-decoration: none;
	color: #fff;
	background-color: #ff4e4e;
	padding: 12px 2.5rem;
	border-radius: 25px;
	display: inline-block;
	margin-top: 2rem;
}
.content{
	padding: 6rem 3rem;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.content h1{
	font-weight: 500;
	font-family: 'Abril Fatface', cursive;
	font-size: 3.5rem;
	width: 45%;
}
.content > p{
	font-size: 13px;
	color: grey;
	width: 11rem;
	line-height: 1.5rem;
	position: relative;
	left: 5rem;
}
.content > p:before{
	content: '';
	position: absolute;
	top: 118%;
	left: 0;
	height: 2px;
	width: 3.5rem;
	background-color: #ff4e4e;
}
.image-slider{
	display: flex;
	align-items: center;
	margin-top: 3rem;
}
.image{
	background-color: white;
	padding: 2rem 1rem;
	border-radius: 25px;
	margin: 0 10px;
	box-shadow: 5px 10px 18px rgba(0,0,0,0.3);
	min-width: 150px;
	text-align: center;
}
.image img{
	width: 90px;
	height: 90px;
	border-radius: 50%;
}
.image p{
	margin-top: 14px;
	font-size: 13px;
	font-weight: bold;
}
@media all and (min-width: 350px) and (max-width: 480px){
	#home{
		flex-direction: column;
	}
	aside p span, aside ul, .button{
		display: none;
	}
	aside{
		padding: 2rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.hamburger{
		display: block;
	}
	aside .cart-icon{
		display: block;
	}
	.content{
		padding: 2rem;
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: flex-start;
	}
	.content h1{
		font-size: 1.8rem;
		width: 90%;
	}
	.content > p{
		left: 0;
		top: 2rem;
		width: 100%;
		order: 1;
    margin-bottom: 3rem;
	}
	.image-slider{
		margin-top: 2rem;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.image{
		padding: 1.6rem 0.8rem;
		margin: 7px;
		min-width: 120px;
	}
	.image img{
		height: 70px;
		width: 70px;
	}
	.image p{
		font-size: 11px;
	}
}
@media all and (min-width: 481px) and (max-width:768px){
	#home{
		flex-direction: column;
	}
	aside p span, aside ul, .button{
		display: none;
	}
	aside{
		padding: 2rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.hamburger{
		display: block;
	}
	aside .cart-icon{
		display: block;
		font-size: 2rem;
	}
	.content{
		padding: 2rem;
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: flex-start;
	}
	.content h1{
		font-size: 3rem;
		width: 100%;
	}
	.content > p{
		left: 0;
		top: 2rem;
		width: 100%;
		order: 1;
    margin-bottom: 3rem;
	}
	.image-slider{
		margin-top: 2rem;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.image{
		margin: 14px;
	}
}
@media all and (min-width: 769px) and (max-width:1024px){
	.content{
		padding: 3rem;
	}
	.content h1{
		font-size: 3rem;
		width: 100%;
	}
	.content > p{
		left: 0;
		top: 2rem;
		width: 100%;
		order: 1;
    margin-bottom: 3rem;
	}
	.image-slider{
		margin-top: 2rem;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.image{
		margin: 1rem;
	}
}
@media all and (min-width: 1025px) and (max-width:1200px){
	.content{
		padding: 3rem;
	}
	.content h1{
		font-size: 3.5rem;
		width: 70%;
	}
	.content > p{
		left: 0;
		top: 2rem;
		width: 100%;
		order: 1;
    margin-bottom: 3rem;
	}
	.image-slider{
		margin-top: 2rem;
		flex-wrap: wrap;
		justify-content: space-around;
    margin-right: 10rem;
	}
	.image{
		margin: 1rem;
	}
}
@media all and (min-width: 1201px) and (max-width:1290px){
	.image-slider{
		flex-wrap: wrap;
	}
	.image{
		margin: 1rem;
	}
}