*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
    background-color: black;
}
.nav-bar{
    display: flex;
    padding: 40px 120px;
}
.nav-logo img{
    width: 135px;
}
.nav-link{
    flex: 1;
}
.nav-link ul{
    margin-left: 50px;
    display: inline;
}
.nav-link ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 25px;
}
.nav-link ul a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-link ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background: yellow;
    display: block;
    margin: auto;
    transition: .5s;
}
.nav-link ul li:hover:after{
    width: 100%;
}
.btn{
    padding: 10px 20px;
    border: 0;
    background: rgb(0, 162, 255);
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}
.btn:hover{
    background-color: red;
}
.nav-link .btn{
    float: right;
}
.banner-title{
    margin: 80px 130px;
    color: #fff;
    margin-bottom: 181px;
}
.banner-title h1{
    font-size: 64px;
    margin-bottom: 30px;
}
.banner-title h1 span{
    color:rgb(0, 162, 255) ;
}
footer {
    background-color: #000;
    overflow: hidden;
    border: solid #fff;
    border-radius: 40px;
    margin: 0%;

}

footer a {
    text-decoration: none;
    background-color:#000;
    
    padding: 20px;
    text-align: center;
    float: right;
    color: #fff;
    
}
.about:hover{
    color: rgb(0, 162, 255);
}
.advertising:hover{
    color: rgb(255, 0, 0);
}
.business:hover{
    color: rgb(253, 228, 2);
}
.how_search_work:hover{
    color: rgb(0, 162, 255);
}
.privacy:hover{
    color: rgb(1, 175, 10);
}
.terms:hover{
    color: rgb(255, 0, 0);
}
.setting:hover{
    color: rgb(0, 162, 255);
}